@import './global.scss';
.#{$kaguya} {
    &-dial, &-digital {
        position: fixed;
        top: 30px;
        right: 30px;
    }
    &-dial {
        width: 120px;
        height: 120px;
        right: 65px;
    }
    &-digital {
        top: 200px;
    }
}
